<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <section class="products">
                <div class="products-container">
                    <h2>PRODUCTOS</h2>
                    <ul>
                        <% for (let product of products) {%>
                            <li><a href="/productos/<%= product._id %>">
                                    <%= product.sabor%>
                                </a>
                                <img src="<%= product.img %>" alt="">
                                <span>Precio: <%= product.precio %></span>
                                <button>Agregar al carrito</button>
                            </li>
                            <% } %>
                    </ul>
                </div>
            </section>
    </body>