<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <h1 style="padding-top: 100px;">
                <%= product.tipoProducto %>
            </h1>
            <ul>
                <li>Sabor: <%= product.sabor %>
                </li>
                <li>Precio: <%= product.precio %>
                </li>
            </ul>
            <a href="/productos">Volver</a>
            <!-- <%- include("partials/footer") %> -->
    </body>

    </ht